<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NameLess</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/home.css' %}">
</head>
<body>
    <header>
        <h1>NameLess</h1>
        <a href="">Download</a>
        <a href="">Devs</a>
        <a href="">User</a>
</header>
<main>
    <article id="Download">
        <a href="">Download !</a>
    </article>
    <article id="Devs">
        <h2>Devs :</h2>
        <div>
            <h3>Manoah</h2>
        </div>
        <div>
            <h3>Link</h2>
        </div>
        <div>
            <h3>Noa</h2>
        </div>
    </article>
    <article id="User"></article>
</main>
</body>
</html>